body {
	margin: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;
	letter-spacing: normal;
	text-align: left;
	color: #283136;
	background: #ffffff;
}
a {
	text-decoration: none;
}
.button {
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	border: none;
}
.main-navigation,
.login-cart {
	line-height: 30px;
	color:#000000;
	background: #eeeeee;
} 
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
.main-navigation,
.login-cart,
.main-menu{
	display: flex;
	flex-direction: row;
	align-items: center;
  justify-content: space-between;
}
.main-header {
	width: 100%;
	height: 132px;
	background-color: #eeeeee;
}
.main-header-logo {
	width: 160px;
	height: 65px;
}
.main-menu {
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: 440px;
	/*Временный фон*/
	background: #00ca74;
}
.login-cart {
	width: 120px;
		/*Временный фон*/
		background:#fb565a;
}
.main-menu a,
.login-cart a {
	color: #000000;
}
.main-menu a:hover,
.login-cart a:hover {
	color: #fb565a;
}
.main-menu a:active,
.login-cart a:active {
	color: rgba(0, 0, 0, 0.3);
}
.service {
	display: flex;
	justify-content: space-between;
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.service h2 {
	font-size: 24px;
	line-height: 30px;
	color: black;
}
.service a {
	color: white;
}
.web-site,
.apps,
.presentation {
	display: flex;
	flex-direction: column;
	width: 300px;
}

.web-site {
	background-image: url("../img/service-web-site.jpg");
	background-repeat: no-repeat;
	background-position: top center;
}
.web-site .button,
.catalog-button {
	background: #fb565a;
}
.web-site .button:hover,
.catalog-button:hover {
	background: #e74246;
}
.web-site .button:active,
.catalog-button:active {
	background: #d7373b;
	color: rgba(255, 255, 255, 0.3);
}
.apps {
	background-image: url("../img/service-apps.jpg");
	background-repeat: no-repeat;
	background-position: top center;
}
.apps .button {
	background: #00ca74;
}
.apps .button:hover {
	background: #00bc6c;
}
.apps .button:active {
	background: #00aa62;
	color: rgba(255, 255, 255, 0.3);
}
.presentation {	
	background-image: url("../img/service-presentation.jpg");
	background-repeat: no-repeat;
	background-position: top center;
}
.presentation .button {
	background: #efc84a;
}
.presentation .button:hover {
	background: #eab534;
}
.presentation .button:active {
	background: #e5a722;
	color: rgba(255, 255, 255, 0.3);
}
.footer-social {
  text-align: center;
}
.footer-social a {
	color: #e1e1e1;
}
.footer-social ul {
  list-style: none;
}
.footer-slogan {
	color: #444444;
	line-height: 22px;
	width: 545px; /*или лучше br в html? для переноса строки*/
}
.footer-slogan b {
	color: #000000;
	font-size: 36px;
	line-height: 36px;
}
/*здесь начинается разметка каталога*/
.container h1 {
	font-size: 55px;
	line-height: 55px;
	color: black;
}
.filter-button {
	background-color: #eeeeee;
	color: black;
	line-height: 18px;
}
.filter-button:hover {
	background-color: #dfdfdf;
}
.filter-button:active {
	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.3);
}
.filters fieldset {
	border: none;
}
.filters legend {
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	text-transform: uppercase;
}
.filters ul {
	list-style: none;
	line-height: 20px;
}
.filter-input:disabled + label {
	color: rgba(40, 49, 54, 0.3);
}
.catalog-item {
	list-style: none;
}
.catalog-item a {
	color: white;
	text-transform: uppercase;
}
.catalog-item h3 {
	color: black;
	line-height: 30px;
	font-size: 18px;
}
.catalog-item-information {
	color: #666666;
	line-height: 18px;
}
