body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  letter-spacing: normal;
  text-align: left;
  color: #283136;
  background: #ffffff;
  min-width: 1440px;
}
a {
  text-decoration: none;
}
.button {
  display: block;
  width: 160px;
  color: white;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  padding: 16px 0px;
  border: none;
  border-radius: 3px;
}
.container {
  width: 1160px;
  margin: 0 auto;
}
/*Хедер*/
.main-header {
  width: 100%;
  min-height: 122px;
  background-color: #eeeeee;
  height: 115px;
}
.inner-page .main-header {
  margin-bottom: 0;
  height: 365px;
}
.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 57px;
  text-transform: uppercase;
  line-height: 30px;
  color: #000000;
  background: #eeeeee;
}
.inner-page .main-navigation a:hover {
  opacity: 0.8;
  cursor: pointer;
}
.inner-page .main-navigation a:active {
  opacity: 0.3;
  cursor: pointer;
}
.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 440px;
  list-style: none;
  padding: 0;
  padding-right: 43px;
  padding-top: 10px;
}
.main-menu-current {
  -webkit-box-shadow:
   0 2px red;
          box-shadow:
   0 2px red;
}
.login-cart {
  position: relative;
  padding-top: 29px;
  padding-left: 40px;
}
.login-cart::before {
  display: block;
  position: absolute;
  content: "";
  top: 35px;
  left: 0px;
  width: 18px;
  height: 18px;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
/*Мэйн*/
.slider {
  position: relative;
  background-color: #eeeeee;
  margin-bottom: 80px;
}
.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.main-menu a,
.login-cart {
  color: #000000;
}
.main-menu a:hover,
.login-cart:hover {
  color: #fb565a;
}
.main-menu a:active,
.login-cart:active {
  color: rgba(0, 0, 0, 0.3);
}
.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
}
.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}
.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}
.slider-item:nth-child(1) {
  background-image: url("../img/slider-slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}
.slider-item:nth-child(2) {
  background-image: url("../img/slider-slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.slider-item:nth-child(3) {
  background-image: url("../img/slider-slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}
#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}
#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}
#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}
#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}
.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}
.slider-button {
  width: 240px;
}
.service-menu {
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 40px;
}
.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
  margin: 0px;
  margin-bottom: 85px;
  padding: 0px;
}
.service-name {
  font-size: 24px;
  line-height: 30px;
  color: black;
  text-transform: uppercase;
}
.card {
  width: 300px;
  padding-top: 150px;
  padding-right: 100px;
  position: relative;
}
.card p {
  display: block;
  width: 250px;
  padding-bottom: 13px;
}
.card button {
  position: relative;
  bottom: 0;
}
.card:nth-child(3n) {
  padding-right: 0;
}
.card:before {
  content: '';
  display: block;
  width: 100%;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
}
.card.web-site:before {
  background-image: url(../img/service-web-site.jpg);
  background-repeat: no-repeat;
}
.card.apps:before {
  background-image: url(../img/service-apps.jpg);
  background-repeat: no-repeat;
}
.card.presentation:before {
  background-image: url(../img/service-presentation.jpg);
  background-repeat: no-repeat;
}
.red-button {
  background: #fb565a;
}
.red-button:hover {
  background: #e74246;
}
.red-button:active {
  background: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}
.apps .button {
  background: #00ca74;
}
.apps .button:hover {
  background: #00bc6c;
}
.apps .button:active {
  background: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}
.presentation .button {
  background: #efc84a;
}
.presentation .button:hover {
  background: #eab534;
}
.presentation .button:active {
  background: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}
.nerds-infromation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 483px;
}
.nerds-infromation-slogan {
  width: 670px;
}
.nerds-infromation-name {
  display: block;
  margin: 0;
  margin-top: 28px;
  font-size: 45px;
  line-height: 45px;
}
.nerds-infromation-text {
  margin-top: 38px;
  margin-bottom: 38px;
}
.nerds-infromation-slogan ul {
  list-style: none;
}
.nerds-infromation-slogan li {
  position: relative;
  padding-top: 25px; 
}
.nerds-infromation-slogan li:first-child {
  padding-top: 5px;
}
.nerds-infromation-slogan li::before {
  display: block;
  position: absolute;
  content: "";
  top: 36px;
  left: -38px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}
.nerds-infromation-slogan li:first-child::before {
  top: 16px;
}
.nerds-infromation b {
  text-transform: uppercase;
}
.nerds-infromation-stat {
  position: relative;
  width: 360px;
  padding: 0;
  padding-top: 240px;
  line-height: 18px;
}
.nerds-infromation-stat::before {
  content: "";
  display: block;
  width: 360px;
  height: 208px;
  position: absolute;
  top: -5px;
  left: 0;
  background-image: url(../img/stat-logo.jpg);
  background-repeat: no-repeat;
}
.nerds-infromation-stat ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;  
  margin-top: 58px;
  padding: 0;
  list-style: none;
}
.nerds-infromation-stat li {
  margin-right: 20px;
}
.nerds-infromation-stat p {
  margin-top: 35px;
}
.nerds-infromation-stat b {
  padding-left: 19px; 
}
.nerds-infromation-stat li:last-child {
  margin-right: 0;
}
.nerds-infromation-stat strong {
  display: block;
  margin-bottom: 26px;
  font-size: 45px;
  line-height: 10px;
  color: black;
}
.nerds-infromation-stat span {
  font-size: 24px;
  vertical-align: 14px;
}
.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 180px;
  padding: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #eeeeee;
  border-top: 2px solid #eeeeee;
  margin: 0;
  margin-bottom: 80px;
  list-style: none;
}
.portfolio img {
  opacity: 0.2;
}
.portfolio img:hover {
  opacity: 1;
}
.portfolio img:active {
  opacity: 0.1;
}
.maps {
  border: none;
  width: 100%;
  height: 417px;
}
.contacts-map {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 417px;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-color: #e9e5dc;
}
.contacts-details {
  width: 270px;
  height: 200px;
  position: absolute;
  margin: 0;
  margin-top: 55px;
  line-height: 18px;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
}
.contacts-details h2 {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 22px;
}
.contacts-details p {
  width: 205px;
  margin-bottom: 28px;
}
.feedback-button {
  width: 219px;
  background-color: #fb565a;
  cursor: pointer;
}
/*футер*/
.main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 69px 0px;
}
.footer-social {
  width: 260px;
  text-align: center;
  padding-right: 140px;
}
.footer-social a {
  color: #e1e1e1;
}
.footer-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.footer-slogan {
  display: block;
  color: #444444;
  width: 550px;
}
.footer-slogan b {
  color: #000000;
  font-size: 36px;
  line-height: 36px;
}
.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 78px;
  height: 78px;
  background-color: #e1e1e1;
}
.social-button:hover {
  background-color: #e74246;
}
.social-button:active {
  background-color: #d7373b;
}
.social-button:active path {
  fill: #e37376;
}
/*каталог*/
.inner-page .container h1 {
  font-size: 55px;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 121px;
  line-height: 55px;
  color: black;
}
.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
margin-top: 7px;
}
.filters {
  width: 260px;
}
.filter-button {
  width: 260px;
  background-color: #eeeeee;
  color: black;
  line-height: 18px;
  cursor: pointer;
  outline: none;
}
.filter-button:hover {
  background-color: #dfdfdf;
}
.filter-button:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 4px 0px #bfbfbf;
          box-shadow: inset 0px 4px 0px #bfbfbf;
}
.filters fieldset {
  border: none;
  padding: 0;
}
.filter-grid {
  margin-bottom: 10px;
}
.filter-advantage ul {
  margin: 0;
  margin-bottom: 27px; 
}
.filter-advantage legend {
  margin-bottom: 13px;
}
.filter-item legend {
  letter-spacing: 0.9px;
}
.filters legend {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}
.filters ul {
  list-style: none;
  line-height: 20px;
  padding: 0;
}
.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  width: 260px;
  margin: 52px auto;
  margin-bottom: 56px;
}
.range-filter {
  width: 260px;
  margin-top: 52px;
}
.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 50px;
}
.range-controls .toggle-max {
  left: 110px;
}
.price-controls {
  font-size: 0;
}
.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
  vertical-align: middle;
}
.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}
.max-price {
  text-align: right;
}
.filters input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 8px;
  margin-bottom: 15px;
  padding: 0;
  vertical-align: top;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  opacity: 0.4;
}
.filters input[type="radio"]:checked + label::before {
  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
  opacity: 0.4;
}
.filters input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 23px;
  margin-right: 4px;
  margin-bottom: 18px;
  vertical-align: top;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  opacity: 0.4;
}
.filters input[type="checkbox"]:checked + label::before {
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  opacity: 0.4;
}
.filters input[type="checkbox"]:hover + label::before,
.filters input[type="radio"]:hover + label::before,
.filters input[type="checkbox"]:focus + label::before,
.filters input[type="radio"]:focus + label::before {
  opacity: 1;
}
.filter-input:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}
.catalog {
  width: 760px;
}
.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.catalog-item {
  position: relative;
  width: 360px;
  height: 617px;
  margin-bottom: 35px;
  margin-right: 40px;
}
.catalog-item:nth-child(2n) {
  margin-right: 0px;
}
.catalog-item a {
  color: white;
  text-transform: uppercase;
}
.catalog-item h3 {
  color: black;
  line-height: 30px;
  font-size: 18px;
  margin-top: 32px;
}
.catalog-item-information {
  color: #666666;
  line-height: 18px;
}
.catalog-button {
  margin: 0 auto;
  display: block;
  padding-top: 15px;
  width: 200px;
  height: 35px;
  border-radius: 3px;
}
.sort {
  margin-top: 48px;
  height: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sort-column {
  width: 360px;
  margin-bottom: 49px;
  line-height: 18px;
  text-transform: uppercase;
}
.sort-column strong {
  font-size: 18px;
}
.sort-column li {
  margin-right: 25px;
}
.sort-column li:nth-child(4) {
  margin-left: auto;
  margin-right: 14px;
}
.sort-column li:last-child {
  margin: 0;
}
.sort-column ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sort a {
  color: black;
  font-size: 14px;
  opacity: 0.3;
}
.sort a:hover {
  opacity: 0.6;
}
.sort a:active {
  opacity: 1;
}
.sort-column-current a {
  opacity: 1;
}
.info-hidden {
  display: none;
  width: 360px;
  position: absolute;
  min-height: 230px;
  text-align: center;
  background-color: #eeeeee;
  top: 386px;
}
.info-hidden p {
  display: block;
  width: 230px;
  margin: 0 auto;
  margin-bottom: 27px;
}
.item-title {
  padding: 0;
  margin-bottom: -16px;
  width: 360px;
  height: 40px;
  background: url(../img/browser.svg) no-repeat;
  opacity: 0.3;
}
.catalog-item:hover .item-title {
  opacity: 1;
}
.catalog-item:hover .info-hidden {
  display: block;
}
.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 23px;
  margin-bottom: 60px;
  list-style: none;
}
.pagination-item {
  margin-right: 10px;
  text-transform: uppercase;
}
.pagination-item a {
  display: block;
  padding: 13px 21px;
  color: black;
  font-weight: 700;
  background-color: #eeeeee;
  border-radius: 2px;
}
.pagination-item:hover a {
  background-color: #dfdfdf;
  padding: 13px 21px;
  border: none;
}
.pagination-item:active a {
  background-color: #d5d5d5;
  color: #959595;
  -webkit-box-shadow: inset 0px 4px 0px #bfbfbf;
          box-shadow: inset 0px 4px 0px #bfbfbf;
}
.pagination-item:last-child a {
  padding: 13px 78px;
}
.pagination-item-current a {
  padding: 9px 17px;
  border: 4px solid #eeeeee;
  background-color: white;
  border-radius: 2px;
}
/*доп стили*/
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
.modal-feedback {
  display: none;
  position: fixed;
  background-color: white;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 75px;
  padding-bottom: 90px;
  bottom: 180px;
  width: 760px;
  height: 425px;
  margin: 0 100px;
  -webkit-box-shadow: 0 25px 55px 10px #595a5a;
          box-shadow: 0 25px 55px 10px #595a5a;
}
.modal--show {
  display: block;
  top: 0;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}
.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}
.modal-feedback h2 {
  margin: 0;
  margin-bottom: 28px;
  font-size: 45px;
  line-height: 45px;
}
.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.entry-field {
  width: 360px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  vertical-align: top;
}
.entry-field:first-child {
  margin-right: 40px;
}
.entry-field:nth-child(3) {
  width: 760px;
  margin-bottom: 47px;
}
.entry-field textarea {
  width: 760px;
  height: 116px;
}
.entry-field input {
  padding: 0;
  width: 100%;
  height: 50px;
}
.modal-input {
  border: 1px solid #d7dcde;
  border-radius: 2px;
  outline: none;
}
.modal-input:hover {
  border: 1px solid #b4b9bb;
}
.modal-input:focus {
  border: 1px solid #000000;
}
.invalid {
  border: 1px solid #e74246;
  color: #e74246;
}
.button-form {
  margin: 0;
  width: 260px;
  height: 50px;
  background-color: #fb565a;
  cursor: pointer;
}
.close-modal {
  position: absolute;
  right: 90px;
  top: 80px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.close-modal:before,
.close-modal:after {
  position: absolute;
  left: 9px;
  bottom: 1px;
  content: " ";
  height: 30px;
  width: 4px;
  background-color: #fb565a;
  opacity: 0.3;
}
.close-modal:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.close-modal:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}